@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: bright) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-size: 20px 20px;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.05) 0.5px,
      transparent 0px
    ),
    linear-gradient(rgba(0, 0, 0, 0.05) 0.5px, transparent 0px);
}

/* Logo Animation */

.logo svg {
  transition: all ease-in-out 1s;
  animation-fill-mode: backwards;
  animation: float-top 3.5s ease-in-out infinite;
}

.logo #Main {
  opacity: 90%;
  filter: drop-shadow(-15px 3px 6px rgba(0, 0, 0, 0.3));
}

.logo #main-string {
  animation: string 4s ease-out infinite;
}

#Vector,
#Vector_2,
#Vector_3,
#Vector_4 {
  stroke-dasharray: 360;
  animation: rotate 4s ease-out infinite reverse;
}

@keyframes float-top {
  50% {
    transform: rotate(-3deg) translate(0, -3px) scale(1.01);
  }
}

@keyframes rotate {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: -50%;
  }
}

@keyframes string {
  from {
    stroke-dashoffset: 20%;
    stroke-dasharray: 20%;
  }

  to {
    stroke-dashoffset: -30%;
    stroke-dasharray: 20%;
  }
}

.animated-text span {
  @apply text-[#a81c1c] font-bold;
}

.footer {
  @apply flex flex-col md:flex-row min-w-[700px] text-xs;
}
.footer div {
  @apply max-w-[300px] pr-5 pl-5;
}
.footer li,
.footer {
  @apply pt-1;
}
